In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/admin-cse/Documents/prob.csv')

In [3]:
df.head

<bound method NDFrame.head of     income recreation         job   status age-group home-owner  \
0  medium      skiing      design   single  twenties         no
1     high       golf     trading  married   forties        yes
2      low   speedway   transport  married  thirties        yes
3  medium    football     banking   single  thirties        yes
4     high     flying       media  married  fifties         yes
5      low   football    security   single  twenties         no
6  medium        golf       media   single  thirties        yes
7  medium        golf   transport  married   forties        yes
8     high     skiing     banking   single  thirties        yes
9      low       golf  unemployed  married   forties        yes

  credit-worthiness
0          highRisk
1           lowRisk
2           medRisk
3           lowRisk
4          highRisk
5           medRisk
6           medRisk
7           lowRisk
8          highRisk
9          highRisk  >

In [4]:
len(df)

10

In [5]:
x=(df['recreation'] == 'golf').sum()
unconditional_golf=x/len(df)
print(unconditional_golf*100)

40.0

In [6]:
df['status_new'] = np.where(df['status']=='single', 1, 0)
df.head(3)

,income,recreation,job,status,age-group,home-owner,credit-worthiness,status_new
0,medium,skiing,design,single,twenties,no,highRisk,1
1,high,golf,trading,married,forties,yes,lowRisk,0
2,low,speedway,transport,married,thirties,yes,medRisk,0

In [8]:
df['Risk_new']=np.where(df['credit-worthiness']=='medRisk',1,0)
df.head(3)

,income,recreation,job,status,age-group,home-owner,credit-worthiness,status_new,Risk_new
0,medium,skiing,design,single,twenties,no,highRisk,1,0
1,high,golf,trading,married,forties,yes,lowRisk,0,0
2,low,speedway,transport,married,thirties,yes,medRisk,0,1

In [12]:
df['count'] = len(df)

In [14]:
d=pd.pivot_table(
 df,
 values='count',
 index=['status_new'],
 columns=['Risk_new'],
 aggfunc=np.size,
 fill_value=0
)

In [15]:
print(d)

Risk_new    0  1
status_new
0           4  1
1           3  2

In [16]:
pa=(d.at[1,0]+d.at[1,1])/(d.at[1,0]+d.at[1,1]+d.at[0,0]+d.at[0,1])
pb=(d.at[0,1]+d.at[1,1])/(d.at[1,0]+d.at[1,1]+d.at[0,0]+d.at[0,1])
paandpb= d.at[1,1]/(d.at[1,0]+d.at[1,1]+d.at[0,0]+d.at[0,1])
pabyb= paandpb/pb
print('the conditional probability of single given by medRisk',pabyb*100)

the conditional probability of single given by medRisk 66.66666666666667